<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1>Made it past security, welcome [[${username}]]</h1>

<h2> make new users here</h2>
<form action="/signup" method="POST">
    name <input type="username" name="username">
    <br />
    password <input type="password" name="password">
    <br />
    First Name <input type="text" name="firstName">
    <br />
    Last Name <input type="text" name="lastName">
    <br />
    Date of Birth <input type="text" name="dateOfBirth">
    <br />
    Bio <input type="text" name="bio">
    <input type="submit">
</form>
</body>
</html>